.top{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.header{
    margin: 0 0 0 40px;
    display: flex;
    align-items: center;
    height: 80px;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
}
.header>img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.header>p{
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.vedio{
    margin-top: 80px;
    height: 180px;
    /* /* top: 50%; */
    left: 50%; 
    transform: translate(-50%);
    overflow: hidden;
    position: absolute;
    z-index: 1000;

}
.mv{

    border-radius: 15px;
    width:250px;
    /* height:240px  */
}

.bg{
    position: absolute;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 990;
     background-size: cover;
}
.bg>img{
   
    height: 250px;
    width: 100%;
    filter: blur(10px);
}


/* 发送评论 */
.set-comment{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    width: 250px;
    height: 80px;
    border-radius: 20px;
}
.btn{
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 36px;  
    border-radius: 20px;
    border: none;
    background-color: #d43c33;
    color: white; 
    text-align: center;
    line-height: 36px;
    font-size: 15px;
}

/* 评论 */
.hot-comment>h3 ,.mv-comment>h3{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 15px;
    color: cornflowerblue;
    background-color: rgba(128,138,135,0.5);
}
.hot-comment ul li , .mv-comment ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}
.user{
    display: flex;
    height: 34px;
    width: 100%;
}

.left-img{
    width: 40px;
    /* background: pink; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-icon{
    width: 38px;
    /* background: greenyellow; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info{
    padding-top: 5px;
    padding-left: 5px;
    line-height: 12px;
    flex: 1;
    /* background: indianred; */
    height: 100%;
    color: #666;
}
.user-info p{
    font-size: 15px;
    
}

.comment{
    width: 100%;
    
    /* background: indigo; */
}
.comment>p{
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 6px;
    color: #333;
    font-size: 15px;
    overflow: hidden;
}
.comment>span{
    margin-top: 5px;
    width: 260px;
    padding: 8px;
    border: 1px solid silver;
    display: block;
    margin-left: 45px;
    font-size: 15px;
    color: gray;
    line-height: 22px;
}
.head{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.head>img{
    width: 100%;
}
.u-svg-unzancmt{
    width: 14px;
    height: 14px;
    margin-left: 3px;
}
.right-icon>span{
    font-size: 10px;
    color: gray;
}
.user-info>p{
    font-size: 12px;
}
.user-info>span{
    font-size: 10px;
    color: gray;
}